html {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p:hover {
  color: salmon;
  cursor: none;
  text-shadow: 0.01em 0.01em salmon;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 11;
}

header:hover {
  background-color: #007fb9;
  color: white;
}

header > section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  border-bottom: 0 solid salmon;
  -webkit-transition: border-width 0.1s linear;
  transition: border-width 0.1s linear;
}

header > section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 20px;
  margin: 10px;
}

header > section > div a, header > section > div img {
  height: 100%;
}

header > section > div img {
  margin-right: 10px;
}

header > section > div img:hover {
  -webkit-box-shadow: 0px 0px 20px salmon;
          box-shadow: 0px 0px 20px salmon;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header > section > p {
  margin: 10px;
}

header > div {
  max-width: 100vw;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > div > div:first-of-type {
  position: relative;
  height: 15px;
  width: 15%;
  background: lightgray;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), to(#fefefe));
  background: linear-gradient(to bottom, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
  border-left: solid 6px grey;
  border-right: solid 8px grey;
  border-radius: 4px;
}

header > div > div:first-of-type::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 6px;
  background: salmon;
  bottom: -6px;
  left: 35%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: .1s;
  transition: .1s;
}

header > div > div:last-of-type {
  height: 10px;
  width: 0;
  background: salmon;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 0px 1px salmon;
          box-shadow: 0px 0px 1px salmon;
  -webkit-transition: width 0.2s, -webkit-box-shadow .5s;
  transition: width 0.2s, -webkit-box-shadow .5s;
  transition: width 0.2s, box-shadow .5s;
  transition: width 0.2s, box-shadow .5s, -webkit-box-shadow .5s;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

header:hover > div > div:first-of-type::after {
  background: green;
}

header:hover > div > div:last-of-type {
  width: calc(100% - 15% - 14px);
  -webkit-box-shadow: 0 0 30px salmon;
          box-shadow: 0 0 30px salmon;
  -webkit-animation: kartik 2s infinite;
          animation: kartik 2s infinite;
}

body > a {
  color: yellow;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  text-align: center;
  text-shadow: 0 0 30px yellow;
  margin: 5px;
}

body > a:hover {
  color: tomato;
  text-shadow: 0 0 50px tomato;
}

@-webkit-keyframes kartik {
  50% {
    -webkit-box-shadow: 0 0 10px salmon;
            box-shadow: 0 0 10px salmon;
  }
}

@keyframes kartik {
  50% {
    -webkit-box-shadow: 0 0 10px salmon;
            box-shadow: 0 0 10px salmon;
  }
}

main {
  width: 100vw;
}

main > section {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > section:first-of-type {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  -webkit-box-shadow: 0 0 0px salmon;
          box-shadow: 0 0 0px salmon;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index: 1;
}

main > section:first-of-type span {
  cursor: none;
}

main > section:first-of-type p {
  display: none;
  cursor: pointer;
  overflow: hidden;
}

main > section:first-of-type:hover {
  background-color: white;
  color: black;
  width: 200px;
  -webkit-box-shadow: 0 0 10px salmon;
          box-shadow: 0 0 10px salmon;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

main > section:first-of-type:hover p {
  display: block;
  width: auto;
}

main > section:first-of-type.expand {
  background-color: white;
  color: black;
  width: 200px;
  -webkit-box-shadow: 0 0 10px salmon;
          box-shadow: 0 0 10px salmon;
}

main > section:first-of-type.expand p {
  display: block;
  width: auto;
}

main > section.main > div:first-of-type > div:first-of-type {
  background-image: url("../img/kartik-4.jpg");
  background-size: 110%;
  border-radius: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0 0 0 salmon;
          box-shadow: 0 0 0 salmon;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  cursor: none;
}

main > section.main > div:first-of-type > div:first-of-type:hover {
  -webkit-box-shadow: 0 0 30px salmon;
          box-shadow: 0 0 30px salmon;
}

main > section p {
  margin: 5px 0;
}

main > section p:first-of-type {
  margin-top: 24px;
}

main > section.main > div:first-of-type {
  text-align: center;
}

section.projects > a {
  margin: 15px 0;
  padding: 10px 20px;
  width: 450px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(209, 209, 209, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 4px;
  color: white;
}

section.projects > a:first-of-type {
  background-image: url("../img/fable.png");
}

section.projects > a:first-of-type::before {
  content: "fable";
}

section.projects > a:nth-of-type(2) {
  background-image: url("../img/mediaplayer.png");
}

section.projects > a:nth-of-type(2)::before {
  content: "audioViz";
}

section.projects > a:last-of-type {
  background-image: url("../img/elra.png");
  background-position: top;
}

section.projects > a:last-of-type::before {
  content: "Elra";
}

section.projects > a::before {
  position: absolute;
  left: -100px;
}

section.projects > a:hover {
  opacity: 1;
}

section.projects > a:hover::before {
  color: white;
}

section.projects {
  background-color: darksalmon;
}

section.main {
  background-color: darkolivegreen;
}

section.skills {
  font-size: 48px;
}

section.work {
  background-color: teal;
  color: white;
}
/*# sourceMappingURL=main.css.map */